<?xml version="1.0"?>
<!--
/** 
 * Movshipping Module XMl.
 * @category  Unilab
 * @package   Unilab_Afptc
 * @author    Kristian Claridad
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
   <module name="Unilab_Afptc" setup_version="1.0.0">
   </module>
</config>
