<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="unilab" translate="label" sortOrder="600">
            <label>UNILAB Custom Extensions</label>
        </tab>
        <section id="imagecapture_section" translate="label" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Camera Settings</label>
            <class>separator-top</class>
            <tab>unilab</tab>
            <resource>Unilab_Imagecapture::imagecapture_config</resource>
            <group id="imagecapture_group" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Image Capture</label>
                <field id="imagecapture_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                    <tooltip>To deactivate Set to NO</tooltip>
                </field>
            </group>
        </section>

    </system>
</config>