<?xml version="1.0"?>
<!--
 * City Frontend Routes XML.
 * @category  Unilab
 * @package   Unilab_City
 * @author    Ron Mark Peroso Rudas   
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="city" frontName="city">
            <module name="Unilab_City" />
        </route>
    </router>
</config>
