<?xml version="1.0"?>
<!--
/**
 * SmtpMailer extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Auriga License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.aurigait.com/magento_extensions/license.txt
 *
 * @category      MageAurigaIT
 * @package       MageAurigaIT_SmtpMailer
 * @copyright     Copyright (c) 2017
 * @license       http://www.aurigait.com/magento_extensions/license.txt Auriga License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <aitsmtpmailer>
                <active>0</active>
                <name>localhost</name>
                <ssl>ssl</ssl>
                <auth>LOGIN</auth>
                <set_return_path>1</set_return_path>
                <set_reply_to>1</set_reply_to>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </aitsmtpmailer>
        </system>
    </default>
</config>
