<?xml version="1.0"?>
<!--
/**
 * SmtpMailer extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Auriga License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.aurigait.com/magento_extensions/license.txt
 *
 * @category      MageAurigaIT
 * @package       MageAurigaIT_SmtpMailer
 * @copyright     Copyright (c) 2017
 * @license       http://www.aurigait.com/magento_extensions/license.txt Auriga License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="\Magento\Framework\Mail\TransportInterface">
            <plugin name="MageAurigaITSmtpMailerTransporter" type="MageAurigaIT\SmtpMailer\Plugin\Transporter" sortOrder="10" />
        </type>
        
        <preference for="Magento\Framework\Mail\Transport" type="MageAurigaIT\SmtpMailer\Model\Mail\Transport" />
</config>

