<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="unilab_customers" frontName="unilab_customers">
            <module name="Unilab_Customers"/>
        </route>
    </router>
</config>