<?xml version="1.0"?>
<!--
 * WPSI Minimum Order Value View XML. for Admin Configuration
 * Stores->Shipping Methods->WPSI Minimum Order Value
 * @category  Unilab
 * @package   Unilab_Movshipping
 * @author    Kristian Claridad
-->
	<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
		<default>
			<carriers>
				<minimumordervalue>
					<active>1</active>
					<sallowspecific>0</sallowspecific>
					<title>Minimum Order Value</title>
					<name>Minimum Order Value</name>
					<minorderval>500</minorderval>
					<minweight>0</minweight>
					<priceperkilo>0</priceperkilo>
					<destinations></destinations>
					<model>Unilab\Movshipping\Model\Carrier\Movshipping</model>
					<specificerrmsg></specificerrmsg>
				</minimumordervalue>
			</carriers>
		</default>
	</config>