<div class="total_wrapper">
        <table id="shopping-cart-table2" class="data-table cart-table">
            <tbody>
    
                <tr>
                    <td id="checkout_totals" width="70%">Order Amount</td> 
                    <td class="a-right"></td>
                </tr>   
    
                <tr>
                    <td id="checkout_totals" width="70%">Convenience Fee</td>
                    <td class="a-right"></td>
                </tr>		
                
                <tr>
                    <td id="checkout_totals" width="80%">Shipping and Handling </td>
                    <td class="a-right"></td>
                </tr>
    
                <tr>
                    <td id="checkout_totals" width="70%">VATable Sale</td> 
                        
                        <td  class="a-right"></td>
            
                        <td  class="a-right"></td>
                </tr>
                
                <tr>
                    <td id="checkout_totals" width="70%">VAT</td>
                    <td class="a-right" style="padding-left:10px;"></td>
                </tr>
                <tr>
                    <td id="checkout_totals" width="70%">VAT Exempt</td>
                </tr>
                <tr>
                    <td id="checkout_totals" width="70%">VAT ZERO Rate</td>	
                </tr> 
                <tr>
                    <td id="checkout_totals" width="70%"><h1>Grand Total</h1></td>				
                    <td class="a-right"><h1 class="grand_total"></h1></td>
                </tr>
            </tbody>
        </table>
    </div>