<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\Order\History" type="Unilab\Sales\Controller\Order\History" />
    <preference for="Magento\Sales\Block\Order\History" type="Unilab\Sales\Block\Order\History" />
    <preference for="Magento\Sales\Block\Order\Info" type="Unilab\Sales\Block\Order\Info" />
    <preference for="Magento\Sales\Block\Order\PrintShipment" type="Unilab\Sales\Block\Order\PrintShipment" />
</config>