<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="unilab_payment_captured_after">
        <observer name="bpisecurepay_payment_captured_after" instance="Unilab\BpiSecurepay\Observer\BpiSecurepayObserver" />
    </event>
</config>