<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xs">
    <system>
        <section id="ulcheckout" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Checkout</label>
            <tab>unilab</tab>
            <resource>Unilab_Checkout::config</resource>
            <group id="ulcheckout_general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="ulcheckout_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ulcheckout_saveaddress" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Save in Address Book</label>
                    <source_model>Unilab\Checkout\Model\Config\Source\Yesnocheck</source_model>
                    <depends>
                        <field id="ulcheckout_enabled">1</field>
                    </depends>
                </field>
                <field id="ulcheckout_shipaddress" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to this address</label>
                    <source_model>Unilab\Checkout\Model\Config\Source\Yesnocheck</source_model>
                    <depends>
                        <field id="ulcheckout_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ulcheckout_skin" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Skin Design</label>
                <field id="ulcheckoutskin_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="skin_header" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Header</label>
                    <field id="background" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Background Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model> 
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="text" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Text Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="pagination_background" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Pagination Background Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="pagination_text" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Pagination Text Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                </group>
                <group id="skin_body" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Body</label>
                    <field id="background" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Background Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="border" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Border Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                </group>
                <group id="skin_button" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button</label>
                    <field id="background" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Background Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="color" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Text Color</label>
                        <frontend_model>Unilab\Checkout\Block\Adminhtml\Color</frontend_model>
                        <comment>Color must be like this: "#fff" or "#ffffff".</comment>
                    </field>
                    <field id="radius" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Button Radius</label>
                        <comment>Radius must be like this: 8px 8px 0px 0px.</comment>
                    </field>
                </group>
            </group>
            <group id="ulcheckout_tax" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Tax Details</label>
                <field id="ulcheckouttax_enabled" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Subtotal Incl. Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subtotal" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="ulcheckouttax_enabled">1</field>
                    </depends>
                </field>
                <field id="tax_amount" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Tax Amount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="ulcheckouttax_enabled">1</field>
                    </depends>
                </field>
                <field id="grandtotal" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Grand Total Excl Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="ulcheckouttax_enabled">1</field>
                    </depends>
                </field>
                
            </group>
            <group id="ulcheckout_activation" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Activation Key</label>
                <field id="activation_key" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter Activation Key</label>
                </field>
            </group>
        </section>
    </system>
</config>